In [1]:
import pandas as pd

In [2]:
# Files to load 
balance_sheet_to_load = "../source_data/BalanceSheetSummaries.csv"
bank_data_to_load = "../source_data/bank-data.csv"
banklist_data_to_load = "../source_data/banklist.csv"

In [3]:
# Read files into and store into Pandas DataFrames
bank_data = pd.read_csv(bank_data_to_load, encoding='ANSI')
banklist_data = pd.read_csv(banklist_data_to_load, encoding='ANSI')
balance_sheets_data = pd.read_csv(balance_sheet_to_load, encoding='ANSI')

In [4]:
bank_data.head()

,CERT,CHCLASS1,CITYST,COST,FAILDATE,FIN,ID,NAME,QBFASSET,QBFDEP,RESTYPE,RESTYPE1,SAVR
0,15426,NM,"ALMENA, KS",16806.0,10/23/2020,10538,4104,ALMENA STATE BANK,65733,64941,FAILURE,PA,DIF
1,16748,NM,"FORT WALTON BEACH, FL",7247.0,10/16/2020,10537,4103,FIRST CITY BANK OF FLORIDA,136566,133936,FAILURE,PA,DIF
2,14361,NM,"BARBOURSVILLE, WV",45913.0,4/3/2020,10536,4102,THE FIRST STATE BANK,151808,143102,FAILURE,PA,DIF
3,18265,NM,"ERICSON, NE",25293.0,2/14/2020,10535,4101,ERICSON STATE BANK,100879,95159,FAILURE,PA,DIF
4,21111,N,"NEWARK, NJ",1946.0,11/1/2019,10534,4100,CITY NATIONAL BANK OF NEW JERSEY,120574,111234,FAILURE,PA,DIF

In [5]:
banklist_data.head()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.",12-Mar-23,10540
1,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,10-Mar-23,10539
2,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538
3,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
4,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536

In [6]:
balance_sheets_data.head()

,Fund Code,Receivership,Year,Quarter,Failure Date,Cash and Investments,Due from FDIC Corp and Receivables,Assets in Liquidation,Estimated Loss on Assets in Liquidation(1),Total Assets,...,Senior Debt Holders,Senior Debt Holders %,Subordinated Debt Holders,Subordinated Debt Holders %,Subtotal- Other Claimants,Subtotal- Other Claimants %,Dividends Paid to Date - Other Claimants,Dividends Paid to Date - Other Claimants %,Total Unpaid Other Claimants,Total Unpaid Other Claimants %
0,10030,1ST CENTENNIAL BANK,2022.0,Q4,1/23/2009,4268.0,0.0,0.0,0.0,4268.0,...,0.0,0.0,0.0,0.0,1568.0,100.0,0.0,0.0,1568.0,100.0
1,10200,ADVANTA BANK CORP,2022.0,Q4,3/19/2010,5736.0,0.0,0.0,0.0,5736.0,...,0.0,0.0,0.0,0.0,6075.0,100.0,0.0,0.0,6075.0,100.0
2,10538,ALMENA STATE BANK,2022.0,Q4,10/23/2020,2816.0,0.0,0.0,0.0,2816.0,...,0.0,0.0,0.0,0.0,338.0,100.0,0.0,0.0,338.0,100.0
3,10018,ALPHA BANK & TRUST,2022.0,Q4,10/24/2008,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,593.0,100.0,0.0,0.0,593.0,100.0
4,10218,"AMCORE BANK, NA",2022.0,Q4,4/23/2010,13857.0,0.0,0.0,0.0,13857.0,...,0.0,0.0,50144.0,86.0,57986.0,100.0,0.0,0.0,57986.0,100.0

In [7]:
# Remove extraneous columns
balance_sheets_data = balance_sheets_data.drop(['Year','Quarter','Cash and Investments', 'Due from FDIC Corp and Receivables',\
                                                'Assets in Liquidation', 'Estimated Loss on Assets in Liquidation(1)'], axis=1)

In [8]:
balance_sheets_data.columns

Index(['Fund Code', 'Receivership', 'Failure Date', 'Total Assets',
       'Administrative Liabilities', 'FDIC Subrogated Deposit Claim',
       'Uninsured Deposit Claims', 'Other Claimant Liabilities',
       'Unproven Claims', 'Total Liabilities(2)', 'Net Worth (Deficit)',
       'Total Liabilities and Net Worth', 'FDIC Subrogated Claim',
       'FDIC Subrogated Claim %', 'Uninsured Depositors',
       'Uninsured Depositors %', 'Subtotal - Proven Deposit Claims',
       'Subtotal - Proven Deposit Claims %', 'Dividends Paid to Date',
       'Dividends Paid to Date %', 'Total Unpaid Deposit Claims',
       'Total Unpaid Deposit Claims %', 'General Creditor',
       'General Creditor %', 'Senior Debt Holders', 'Senior Debt Holders %',
       'Subordinated Debt Holders', 'Subordinated Debt Holders %',
       'Subtotal- Other Claimants', 'Subtotal- Other Claimants %',
       'Dividends Paid to Date - Other Claimants',
       'Dividends Paid to Date - Other Claimants %',
       'Total Unpaid Other Claimants', 'Total Unpaid Other Claimants %'],
      dtype='object')

In [12]:
# Add up total liabilities
balance_sheets_data['Total_Liabilities'] = balance_sheets_data['Administrative Liabilities'] + balance_sheets_data['FDIC Subrogated Deposit Claim']\
                                         + balance_sheets_data['Uninsured Deposit Claims'] + balance_sheets_data['Other Claimant Liabilities']\
                                         + balance_sheets_data['Unproven Claims']

In [13]:
# Create new DF with just columns needed. 
balance_sheets_data_clean = balance_sheets_data[['Fund Code', 'Receivership', 'Failure Date', 'Total Assets','Total_Liabilities', \
                                                 'Administrative Liabilities', 'FDIC Subrogated Deposit Claim', 'Uninsured Deposit Claims', \
                                                 'Other Claimant Liabilities', 'Unproven Claims','Net Worth (Deficit)']]
balance_sheets_data_clean

,Fund Code,Receivership,Failure Date,Total Assets,Total_Liabilities,Administrative Liabilities,FDIC Subrogated Deposit Claim,Uninsured Deposit Claims,Other Claimant Liabilities,Unproven Claims,Net Worth (Deficit)
0,10030,1ST CENTENNIAL BANK,1/23/2009,4268.0,142039.0,11.0,140397.0,63.0,1568.0,0.0,-137771.0
1,10200,ADVANTA BANK CORP,3/19/2010,5736.0,534002.0,12.0,527286.0,629.0,6075.0,0.0,-528266.0
2,10538,ALMENA STATE BANK,10/23/2020,2816.0,19146.0,4.0,18804.0,0.0,338.0,0.0,-16330.0
3,10018,ALPHA BANK & TRUST,10/24/2008,0.0,212129.0,0.0,211264.0,272.0,593.0,0.0,-212129.0
4,10218,"AMCORE BANK, NA",4/23/2010,13857.0,91655.0,5305.0,28364.0,0.0,57986.0,0.0,-77798.0
...,...,...,...,...,...,...,...,...,...,...,...
130,10060,WESTSOUND BANK,5/8/2009,1292.0,82910.0,0.0,82406.0,0.0,504.0,0.0,-81618.0
131,10224,WHEATLAND BANK,4/23/2010,1009.0,191552.0,0.0,190710.0,0.0,842.0,0.0,-190543.0
132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,(1) Valuation of Assets/Loss Allowances: Asse...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,(2) The Total Liabilities line item reflects ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
balance_sheets_data_clean = balance_sheets_data_clean.iloc[:-3,:]
balance_sheets_data_clean

,Fund Code,Receivership,Failure Date,Total Assets,Total_Liabilities,Administrative Liabilities,FDIC Subrogated Deposit Claim,Uninsured Deposit Claims,Other Claimant Liabilities,Unproven Claims,Net Worth (Deficit)
0,10030,1ST CENTENNIAL BANK,1/23/2009,4268.0,142039.0,11.0,140397.0,63.0,1568.0,0.0,-137771.0
1,10200,ADVANTA BANK CORP,3/19/2010,5736.0,534002.0,12.0,527286.0,629.0,6075.0,0.0,-528266.0
2,10538,ALMENA STATE BANK,10/23/2020,2816.0,19146.0,4.0,18804.0,0.0,338.0,0.0,-16330.0
3,10018,ALPHA BANK & TRUST,10/24/2008,0.0,212129.0,0.0,211264.0,272.0,593.0,0.0,-212129.0
4,10218,"AMCORE BANK, NA",4/23/2010,13857.0,91655.0,5305.0,28364.0,0.0,57986.0,0.0,-77798.0
...,...,...,...,...,...,...,...,...,...,...,...
127,10530,WASHINGTON FED BNK FOR SAVINGS,12/15/2017,2932.0,83045.0,35.0,81535.0,1388.0,87.0,0.0,-80113.0
128,10015,WASHINGTON MUTUAL BANK,9/25/2008,152049.0,14809674.0,1003.0,0.0,0.0,14808671.0,0.0,-14657625.0
129,10231,WESTERNBANK PUERTO RICO,4/30/2010,14336.0,2222165.0,5302.0,2191090.0,0.0,25773.0,0.0,-2207829.0
130,10060,WESTSOUND BANK,5/8/2009,1292.0,82910.0,0.0,82406.0,0.0,504.0,0.0,-81618.0
131,10224,WHEATLAND BANK,4/23/2010,1009.0,191552.0,0.0,190710.0,0.0,842.0,0.0,-190543.0

In [15]:
balance_sheets_data_clean.to_csv('../static/data/balance_sheets_for_database.csv', index=False)